html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

p {
	font-size: 0.875em;
	line-height: 21px;
}

ul {
	margin: 0;
}


/*The widths are in a percentage!*/
header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
	text-align: center;
	border-bottom: 3px solid #77a466;
}

header h1 {
	width: 100%;
	margin: 0;
	padding: 38px 20px 20px 20px;
	font-size: 1.875em;
	border-bottom: 3px solid #77a466;
}
header h1 span {
	color: #77a466;
}

header nav {
	width: 100%;
	padding: 20px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 10px 0;
	list-style: none;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
	font-size: 1.125em;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125;
}

.address {
	font-size: 1em;
	line-height: 1.5;
}

/*The widths are in a percentage!*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
	border-top: 3px solid #eee;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

/*-------Media queries-------*/

@media only screen and (min-width: 768px) {
/*------Tablet------*/
	.bottom-section {
		justify-content: space-between;
		align-items: flex-start;
		border-top: 1px solid #eee;
	}

	.section-one,
	.section-two,
	.section-three {
		border-top: none;
		flex-basis: 30%;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		padding: 0 20px;
	}
}

@media only screen and (min-width: 1200px) {
/*------Desktop------*/

	header {
		justify-content: space-between;
	}

	header h1 {
		width: 30%;
		padding: 0;
		border-bottom: none;
		text-align: left;
	}

	header nav {
		width: 40%;
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
	}

}